* {
    /* outline: dashed 1px gray; */
}

:root {
    --color-main: #14bdac;
    --color-lines: #0da192;
    --color-x: #252525;
    --color-o: #f2ebd3;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-main);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  80vh 1fr;
    gap: 20px;
    height: 100vh;
}

.scores {
    text-align: center;
    margin: auto;
}

.score-column-x {
    grid-column: 1;
    color: var(--color-x);
}

button {
    border: none;
    /* padding: 1rem; */
    margin: 0;
    cursor: pointer;
    text-align: center;
    background-color: var(--color-main);
    font-size: 5rem;
}

.player-token {
    border: solid 1px var(--color-lines);
    border-radius: 2rem;
    padding: 0 1rem;
}

.chosen-token {
    background-color: var(--color-lines);
}

.player-token:hover {
    background-color: var(--color-lines);
}

.score {
    font-size: 3rem;
}

.board {
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--color-lines);
    width: 470px;
    height: 470px;
    margin: auto;
}

.tile {
    border: none;
    padding: 1rem;
    margin: 0;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: var(--color-main);
    font-size: 5rem;
}

.main-button {
    grid-column: 2;
    grid-row: 2 / 3;
    align-self: start;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--color-lines);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.main-button:hover {
    background-color: var(--color-lines);
}
.score-column-o {
    color: var(--color-o);
}

.score-column-o button {
    color: var(--color-o);
}

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: var(--color-x);
    margin: 70vh auto;
    padding: 1.25rem;
    width: 20%;
    border-radius: 1rem;
    color: var(--color-o);
    text-align: center;
}
