* {
    outline: dashed 1px gray;
}

:root {
    --color-main: #14bdac;
    --color-lines: #0da192;
    --color-x: #252525;
    --color-o: #f2ebd3;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-main);
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.scores {
    flex: 1;
    text-align: center;
}

.score-column-x {
    color: var(--color-x);
}

.scores p {
    font-size: 5rem;
}

.score {
    font-size: 3rem;
}

.board {
    flex: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: var(--color-lines);
}

.tile {
    border: none;
    padding: 1rem;
    margin: 0;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: var(--color-main);
}

.score-column-o {
    color: var(--color-o);
}